@import url(https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&display=swap);


:root {
  --purple1: #b0a0bc;
  --pink1: #ffe1f5;
  --pink2: #dfbbda;
  --purple2: #896790;
  --beige: #FAF0E6;
}

.home-title{
  background-image: url('./home-background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  padding: 20%;
  color: white;
}

.home-text{
  text-align: left;
  font-size: 1.5vw;
  float: left;
}

.NavBar {
  background-color: var(--purple1);
}

.NavBarBrand {
  font-family: 'Julius Sans One', 'Arial';
  color: white !important;
  font-weight: 600;
}

.NavBar .nav-link {
  color: white !important;
  font-weight: 500;
}

.NavBar .nav-link:hover {
  color: #443348 !important; 
}

.App {
  text-align: center;
  font-family: 'Instrument Sans', sans-serif;
}

.photographers-section{
  background-color: var(--purple1);
  padding: 110px;
  color: white;
}

.view-portfolio-btn{
  background-color: #896790 !important ;
  color: white !important;
  border-color: #080808 !important;
}

.view-portfolio-btn:hover{
  background-color: var(--pink1) !important;
  color: var(--purple2) !important;
  border-color: var(--purple2) !important;
}

.aboutcompany{
  background-color: var(--beige);

}

.aboutcreators{
  background-color: var(--pink1);

}
.about-us-content{
  padding: 5% 5% 5% 10%;
  align-content: left;
  text-align: left;
}

.aboutpics{
  width: 90%;
  margin: 5% 0 5% 0;
  border-style: solid;
  border-color: var(--pink1);
  border-width: 5px;
}

.about-creator-content{
  padding: 0 10% 0 5%;
  align-content: left;
  text-align: left;
}


.about-us-pic{
  padding: 5%;
  border-radius: 50%;
  width: 60%;
  
}

.contact-page{
  background-color: var(--beige);
  height: 100vh;
}

.txt-purple {
  color: #896790; 
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 12px;
  text-transform: uppercase; 
  letter-spacing: 1px; 
}

.txt-purple-smaller {
  color: #896790;
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 12px;
  text-transform: uppercase; /* optional */
  letter-spacing: 1px; /* optional */
}

.text-col{
  display: flex;
  justify-content: center;
  align-items: center;

}

.middle{
  background-color: var(--purple1);
  color: white;
  font-family: 'Snell Roundhand';
  font-size: 2rem;
  height: 50px;
}

.react-calendar__tile--now {
  background: var(--pink1) !important;
}

.react-calendar__tile--active {
  background: var(--purple2) !important;
  color: white !important;
}

.react-calendar {
  width: 100% !important; 
}

.calendar {
  background-color: white;
  width: 80%;
  border-radius: 5%;
  text-align: left;
  padding: 5% 5% 5% 5%;
}

.book-page{
  background-color: var(--beige);
}

.my-form {
  background-color: white;
  padding: 5% 5% 5% 5%;
  border-radius: 5%;
  text-align: left;

}

.next-btn{
  padding-top: 8%;
  text-align: right;
}
