@import url(https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&display=swap);


:root {
  --purple1: #bfadcc;
  --pink1: #ffe1f5;
  --pink2: #dfbbda;
  --purple2: #896790;
  --beige: #FAF0E6;
}

.home-title{
  background-image: url('./home-background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  padding: 20%;
  color: white;
}

.home-text{
  text-align: left;
  font-size: 1.5vw;
  float: left;

}

.NavBar {
  background-color: var(--purple1);
  color: white;

}

.NavBarBrand {
  font-family: 'Julius Sans One', 'Arial';
}

.App {
  text-align: center;
  font-family: 'Instrument Sans', sans-serif;
}

.photographers-section{
  background-color: var(--purple1);
  padding: 110px;
  color: white;
}

.aboutcompany{
  background-color: var(--beige);

}

.aboutcreators{
  background-color: var(--pink1);

}

.about-us-content{
  padding: 5% 5% 5% 10%;
  align-content: left;
  text-align: left;
}

.aboutpics{
  width: 90%;
  margin: 5% 0 5% 0;
  border-style: solid;
  border-color: var(--pink1);
  border-width: 5px;
}

.about-creator-content{
  padding: 0 10% 0 5%;
  align-content: left;
  text-align: left;
}


.about-us-pic{
  padding: 5%;
  border-radius: 50%;
  width: 60%;
  
}

.contact-page{
  background-color: var(--beige);
  height: 100vh;
}

.txt-purple {
  color: #896790; /* or any purple you want */
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 12px;
  text-transform: uppercase; /* optional */
  letter-spacing: 1px; /* optional */
}

.txt-purple-smaller {
  color: #896790; /* or any purple you want */
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 12px;
  text-transform: uppercase; /* optional */
  letter-spacing: 1px; /* optional */
}

.text-col{
  display: flex;
  justify-content: center;
  align-items: center;

}
