@import url(https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap);

:root {
  --purple1: #bfadcc;
  --pink1: #ffe1f5;
  --pink2: #dfbbda;
  --purple2: #896790;
  --beige: #FAF0E6;
}

.home-page {
  background-image: url('./home-background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
}

.home-title{
  font-size: 1.5rem;
  text-align: left;
  padding-left: 350px;
  padding-top: 250px;
}

.NavBar {
  background-color: var(--purple1);
  color: white;

}

.NavBarBrand {
  font-family: 'Julius Sans One', 'Arial';
}

.App {
  text-align: center;
}

.photographers-section{
  background-color: var(--purple2);
  padding: 100px;
  margin-top: 370px;
}

.about-us-content{

}